#CHAT
gradio~=5.23.1
#SERVER
fastapi~=0.115.12
uvicorn~=0.34.0
starlette~=0.46.1
#API
httpx-ws~=0.7.1
httpx~=0.28.1
azure-mgmt-resource
azure-core~=1.33.0
azure-ai-documentintelligence
#AI
lmstudio~=1.1.0
pandas~=2.2.3
#UTIL
typing_extensions
pybase64
msgspec~=0.19.0
anyio~=4.9.0
exceptiongroup~=1.2.2
from_root
#DATABASE | S3
mysql-connector-python~=9.3.0
minio~=7.2.15
pymongo~=4.12.0
typing_extensions~=4.12.2
pytest~=8.3.4
schedule~=1.2.2
django-scheduler~=0.10.1
pydantic~=2.10.6
typing_extensions~=4.12.2
PyPDF2~=3.0.1